﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Introduction and Purpose:</h2>
    <p>
        This To Do List app has been developed for educational
        and self-learning purposes. It serves as a personal project aimed
        at acquiring and improving programming and software development skills.
        Throughout the development and testing of this app, data may be collected
        and used for learning and educational demonstration purposes only.
    </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#collection" /></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Contact Information:</h3>
            <p>
                If you have any questions, concerns, or requests regarding your
                personal data and our privacy practices, please
                feel free to contact me using the following contact information:
            </p>
            <div class="contact">
                <a href="giokaratziouvalis@gmail.com"><i class="fa-sharp fa-solid fa-paper-plane"></i>giokaratziouvalis@gmail.com</a>
                <a href="https://www.linkedin.com/in/giorgos-karatziouvalis-0a7877245/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/giodiver"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://kit.fontawesome.com/43cf2c67e2.js" crossorigin="anonymous"></script>
}